## head
#title
snippet head
	 # ------------------------------------------------------------------------------
	 #
	 # File: `bufname("%")`
	 # Created: `system("date +%D")`# Author: `system("git config user.name || whoami")`# Description: $1
	 #
	 # Project: `system("git config get remote.origin.url  | awk -F '/' '{print $(NF-1)  \"/\"  $(NF) }'")`# License: `system("head -n 1 LICENSE 2>/dev/null && head -n 1 LICENSE | sed 's/^[[:space:]]*//;s/[[:space:]]*$//' || echo ''")`# ------------------------------------------------------------------------------

## Section
# section
snippet section
	 # ------------------------------------------------------------------------------
										$1
	 # ------------------------------------------------------------------------------
	$0
