## head
#title
snippet head
	 # ------------------------------------------------------------------------------
	 #
	 # File: `bufname("%")`
	 # Created: `system("date +%D")`# Author: `system("git config user.name || whoami")`# Description: $1
	 #
	 # Project: `system("git config --get remote.origin.url | sed -e 's/^git@[^:]*://' -e 's/\.git$//'")`# License: `system("head -n 1 LICENSE 2>/dev/null| sed 's/^[[:space:]]*//;s/[[:space:]]*$//' || echo '-'")`# ------------------------------------------------------------------------------

## Section
# section
snippet section
	 # ------------------------------------------------------------------------------
										$1
	 # ------------------------------------------------------------------------------
	$0
