Checks:
  - -*
  - cppcoreguidelines-pro-type-member-init
  - modernize-deprecated-headers
  - modernize-use-bool-literals
  - modernize-use-default-member-init
  - modernize-use-nullptr
  - readability-braces-around-statements
  - readability-redundant-member-init

HeaderFileExtensions: ["", h]
ImplementationFileExtensions: [c, cpp, cxx]
HeaderFilterRegex: (include)/
FormatStyle: file
CheckOptions:
  cppcoreguidelines-pro-type-member-init.IgnoreArrays: true
  cppcoreguidelines-pro-type-member-init.UseAssignment: true
  modernize-deprecated-headers.CheckHeaderFile: true
  modernize-use-bool-literals.IgnoreMacros: false
  modernize-use-default-member-init.IgnoreMacros: false
  modernize-use-default-member-init.UseAssignment: true
