---
BasedOnStyle: WebKit
AlignConsecutiveAssignments: 'true'
AlignTrailingComments: 'true'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortIfStatementsOnASingleLine: WithoutElse
ColumnLimit: '80'
TabWidth: '4'
UseTab: Never
...
