[Desktop Entry]
Name[be]=Geary
Name[bs]=Geary
Name[ca]=Geary
Name[cs]=Geary
Name[da]=Geary
Name[de]=Geary
Name[el]=Geary
Name[en_GB]=Geary
Name[eo]=Geary
Name[es]=Geary
Name[eu]=Geary
Name[fi]=Geary
Name[fr]=Geary
Name[fur]=Geary
Name[gl]=Geary
Name[he]=Geary
Name[hr]=Geary
Name[hu]=Geary
Name[id]=Geary
Name[it]=Geary
Name[ja]=Geary
Name[kk]=Geary
Name[lt]=Geary
Name[nb]=Geary
Name[nl]=Geary
Name[oc]=Geary
Name[pl]=Geary
Name[pt]=Geary
Name[pt_BR]=Geary
Name[ro]=Geary
Name[ru]=Geary
Name[sk]=Geary
Name[sl]=Geary
Name[sr]=Гери
Name[sr@latin]=Geri
Name[sv]=Geary
Name[tr]=Geary
Name[uk]=Geary
Name[zh_CN]=Geary
Name[zh_TW]=Geary
Name=Geary
GenericName[be]=Электронная пошта
GenericName[ca]=Correu electrònic
GenericName[cs]=E-mail
GenericName[da]=E-mail
GenericName[de]=E-Mail
GenericName[el]=Ηλεκτρονικό ταχυδρομείο
GenericName[en_GB]=E-mail
GenericName[eo]=Retpoŝto
GenericName[es]=Correo-e
GenericName[eu]=Posta elektronikoa
GenericName[fi]=Sähköposti
GenericName[fr]=Courriel
GenericName[fur]=E-mail
GenericName[gl]=Correo
GenericName[he]=דוא״ל
GenericName[hr]=E-pošta
GenericName[hu]=E-mail
GenericName[id]=Surel
GenericName[it]=Email
GenericName[ja]=メール
GenericName[kk]=Эл. пошта
GenericName[lt]=El. paštas
GenericName[nb]=E-post
GenericName[nl]=E-mail
GenericName[pl]=Poczta
GenericName[pt]=Correio
GenericName[pt_BR]=E-mail
GenericName[ro]=Email
GenericName[ru]=Электронная почта
GenericName[sk]=Email
GenericName[sl]=Elektronska pošta
GenericName[sr]=Е-пошта
GenericName[sr@latin]=E-pošta
GenericName[sv]=E-post
GenericName[tr]=E-posta
GenericName[uk]=Електронна пошта
GenericName[zh_CN]=电子邮件
GenericName[zh_TW]=Email
GenericName=Email
Comment[ar]=ارسال و استقبال البريد الالكتروني
Comment[be]=Адпраўленне і атрыманне электроннай пошты
Comment[bs]=Šaljite i primajte e-poštu
Comment[ca]=Envieu i rebeu correus electrònics
Comment[cs]=Odesílejte a přijímejte e-maily
Comment[da]=Send og modtag e-mail
Comment[de]=Senden und empfangen
Comment[el]=Αποστολή και λήψη ηλεκτρονικού ταχυδρομείου
Comment[en_CA]=Send and receive e-mail
Comment[en_GB]=Send and receive e-mail
Comment[eo]=Sendi kaj ricevi retpoŝton
Comment[es]=Envíe y reciba mensajes de correo electrónico
Comment[et]=Send and receive email
Comment[eu]=Bidali eta jaso mezuak
Comment[fa]=ارسال و دریافت ایمیل‌ها
Comment[fi]=Lähetä ja vastaanota sähköpostia
Comment[fr]=Envoyer et recevoir des courriels
Comment[fur]=Invie e ricêf e-mail
Comment[gl]=Enviar e recibir correo
Comment[he]=שליחה וקבלה של דוא״ל
Comment[hr]=Primi i pošalji e-poštu
Comment[hu]=E-mailek küldése és fogadása
Comment[id]=Kirim dan terima surel
Comment[it]=Invia e riceve email
Comment[ja]=メールの送信と受信
Comment[kk]=Эл. поштаны жіберу және қабылдау
Comment[km]=ផ្ញើ​និង​ទទួល​អ៊ីមែល
Comment[lt]=Siųsti ir gauti paštą
Comment[ms]=Hantar dan terima emel
Comment[nb]=Send og motta e-post
Comment[nl]=E-mail verzenden en ontvangen
Comment[oc]=Mandar e recebre de corrièrs electronics
Comment[pl]=Wysyłanie i odbieranie poczty
Comment[pt]=Enviar e receber mensagens
Comment[pt_BR]=Envie e receba e-mail
Comment[ro]=Trimite și primește emailuri
Comment[ru]=Отправка и получение электронной почты
Comment[sk]=Odosiela a prijíma emaily
Comment[sl]=Pošlji in prejmi sporočila
Comment[sr]=Шаље и прима е-пошту
Comment[sr@latin]=Šalje i prima e-poštu
Comment[sv]=Skicka och ta emot e-post
Comment[tr]=E-posta gönder ve al
Comment[uk]=Надіслати та одержати пошту
Comment[zh_CN]=发送并接收电子邮件
Comment[zh_TW]=寄送與收受郵件
Comment=Send and receive email
# Translators: These are desktop search terms. Do not translate semicolons, end line with a semicolon.
Keywords[be]=Электронная пошта;E-mail;Mail;
Keywords[bs]=Epošta;E-pošta;pošta;
Keywords[ca]=Email;Correu electrònic;Correu;
Keywords[cs]=email;e-mail;mail;pošta;e-pošta;zpráva;zprávy;
Keywords[da]=Email;E-mail;Mail;Post;E-brev;
Keywords[de]=Email;E-Mail;Mail;
Keywords[el]=μήνυμα;ηλεκτρονικό ταχυδρομείο;αλληλογραφία;Email;E-mail;Mail;
Keywords[en_GB]=Email;E-mail;Mail;
Keywords[es]=email;e-mail;correo electrónico;correo-e;
Keywords[eu]=posta;helb.elek;helb.el.;
Keywords[fa]=Email;E-mail;Mail;
Keywords[fi]=Email;E-mail;Mail;Sähköposti;Maili;posti;
Keywords[fr]=Email;E-mail;Messagerie;Courriels;
Keywords[fur]=Email;E-mail;Mail;Pueste;
Keywords[gl]=Correo electrónico;Correo-e;Correo;
Keywords[he]=דוא״ל;דואר אלקטרוני;דואר;מייל;אימייל;אי מייל;מיילים;הודעות;
Keywords[hr]=Epošta;E-pošta;Pošta;
Keywords[hu]=Email;E-mail;Levél;
Keywords[id]=Surel;Surat;Email;E-mail;Mail;
Keywords[it]=Email;E-mail;Mail;Posta;
Keywords[ja]=Email;E-mail;Mail;メール;Eメール;E-メール;
Keywords[kk]=Email;E-mail;Mail;Эл. пошта;электрондық пошта;е-пошта;
Keywords[lt]=El. paštas;E. paštas;Paštas;
Keywords[ms]=Emel;E-mel;Mel;
Keywords[nb]=E-post;E-brev;Post;
Keywords[nl]=Email;E-mail;Mail;
Keywords[oc]=Email;E-mail;Messatjariá;Corrièrs electronics;
Keywords[pl]=Email;E-mail;Mail;Poczta;Skrzynka;Wiadomość;Wiadomości;mejl;majl;
Keywords[pt]=Email;E-mail;Mail;Correio Eletrónico;Correio;
Keywords[pt_BR]=Email;E-mail;email;emails;e-mail;Mail;Mensagem;Mensagens;mensagem;mensagens;Correio eletrônico;correio eletrônico;
Keywords[ro]=Email;E-mail;Mail;Poștă;Electronică;
Keywords[ru]=Электронная;Почта;Email;E-mail;Mail;
Keywords[sk]=email;e-mail;pošta;
Keywords[sl]=elektronska pošta;epošta;e-pošta;pošta;sporočila;email;mail;
Keywords[sr]=пошта;е-пошта;ел. пошта;електронска пошта;
Keywords[sr@latin]=pošta;e-pošta;el. pošta;elektronska pošta;
Keywords[sv]=Email;E-mail;Mail;Epost;E-Post;
Keywords[tr]=Eposta;E-posta;Posta;E Posta;Elektronik Posta;Mektup;
Keywords[uk]=Email;E-mail;Mail;Пошта;Лист;надіслати;
Keywords[zh_CN]=Email;E-mail;Mail;电子邮件;电子邮箱;电子信箱;邮件;邮箱;信箱;
Keywords[zh_TW]=Email;E-mail;Mail;電子郵件;電郵;郵件;信件;收信;寄信;
Keywords=Email;E-mail;Mail;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Geary
TryExec=geary
Exec=geary --gapplication-service
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
StartupNotify=true
NoDisplay=true
