* {
  accent:           #2274ff;
  background:       #000000bf;
  backgroud-alt:    #0D0D0Dbf;
  background-light: #1c1c1cbf;
  background-light-solid: #1c1c1c;
  foreground:       #C5C8C6;
//secondary
  on:               #7b7b7abf;
// alert
  off:              #f28b82bf;
}
