* {
  accent:           #2274ff;
  background:       #000000AF;
  backgroud-alt:    #0D0D0DAF;
  background-light: #1c1c1cAF;
  background-light-solid: #1c1c1c;
  foreground:       #C5C8C6;
//secondary
  on:               #7B7B7A8F;
// alert
  off:              #f28b828F;
}
