/* gtk.css 
 * a config file that overwrites certain elements on gtk.themes 
 * /

/* shrink headerbars (don't forget semicolons after each property) */
headerbar {
  min-height: 0px;
  padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
  padding-right: 2px;
  background-color: #2d2d2d;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
  margin-top: 0px; /* same as headerbar side padding for nicer proportions */
  margin-bottom: 0px;
}

/* shrink ssd titlebars */
.default-decoration {
  min-height: 0; /* let the entry and button drive the titlebar size */
  padding: 0px;
  background-color: #2d2d2d;
}

.default-decoration .titlebutton {
  min-height: 0px; /* tweak these two props to reduce button size */
  min-width: 0px;
}

window.ssd headerbar.titlebar {
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 0;
}
